<!-- Macro for the announcement items -->
{% macro announcement_item(a) %}
  <li class="announcement__list__item">
    <span class="announcement__list__item__date"> {{ a.date }} </span>
    <p> {{ a.content }} </p>
  </li>
{% endmacro %}

{% macro announcement_pagination(number) %}
  <li class="announcement__pagination__item">
    {{ number }}
  </li>
{% endmacro %}

<section class="announcement" id="announcement">
  <h3 class="announcement_header"> 最新公告 </h3>
  <ul class="announcement__list">
    {% for a in announcements %}
      {{ announcement_item(a) }}
    {% endfor %}
  </ul>
  <ul class="announcement__pagination">
    {% for page in range(total_pages) %}
      {{ announcement_pagination(page + 1) }}
    {% endfor %}
  </ul>
</section>