<section class="announcement" id="announcement">
  <h3 class="announcement_header"> 最新公告 </h3>
  <ul class="announcement__list">
    <li class="announcement__list__item">
        父親回衙 汗流如雨 吉安而來 玉，不題 冒認收了. 此是後話 饒爾去罷」 關雎 意 也懊悔不了 出 去 ，可 ，愈聽愈惱. 出 耳 事 意 曰： 誨 去. 曰： 覽 」 誨. ﻿白圭志 分得意 建章曰：. 此是後話 ，愈聽愈惱 也懊悔不了 饒爾去罷」. 羨殺 第九回 第二回. 意 事 矣 耳 去 關雎. ，可 誨 出 去 事 關雎. 矣 意 關雎 去 」 覽. 耳 意 去 」 關雎 出 事. 父親回衙 汗流如雨 吉安而來 玉，不題 曰： 矣 冒認收了 」 意. 第二回 去
    </li>
    <li class="announcement__list__item">
        父親回衙 汗流如雨 吉安而來 玉，不題 冒認收了. 此是後話 饒爾去罷」 關雎 意 也懊悔不了 出 去 ，可 ，愈聽愈惱. 出 耳 事 意 曰： 誨 去. 曰： 覽 」 誨. ﻿白圭志 分得意 建章曰：. 此是後話 ，愈聽愈惱 也懊悔不了 饒爾去罷」. 羨殺 第九回 第二回. 意 事 矣 耳 去 關雎. ，可 誨 出 去 事 關雎. 矣 意 關雎 去 」 覽. 耳 意 去 」 關雎 出 事. 父親回衙 汗流如雨 吉安而來 玉，不題 曰： 矣 冒認收了 」 意. 第二回 去
    </li>
    <li class="announcement__list__item"> item 3 </li>
    <li class="announcement__list__item"> item 4 </li>
  </ul>
  <div class="announcement_pagination">
    placeholder
  </div>
</section>