<article class="facility__article" id="PT">
  <h3 class="facility__article__heading">復健中心</h3>
  <ul class="facility__article__list">
    {% for PTItem in PTList %}
    <li class="facility__article__item">{{ PTItem }}</li>
    {% endfor %}
  </ul>
  <h5 class="facility__article__heading">時間：</h5>
  <ul class="facility__article__time">

    <div class="facility__article__time--1">
      <li>星期一至星期五</li>
      <li>早上 8:30~12:00</li>
      <li>下午 3:00~9:30</li>
      <li>晚餐時段不休息</>
    </div>
    <div class="facility__article__time--2">
      <li>星期六</li>
      <li>早上 8:30~12:00</li>
      <li>下午 3:00~6:00</li>
    </div>
  </ul>
</article>

<div class="facility__gallary">
  {% for img,alt in imglist %}
  <figure class="facility__item facility__item--{{ loop.index }}">
    <img src="{{ url_for('static', filename=img) }}" alt="{{ alt }}" class="facility__img">
  </figure>
  {% endfor %}
</div>

<!-- {% for img in imglist %} {% if img != "img/record.jpg" %}
  <figure class="facility__item facility__item--{{ loop.index }}">
    <img src="{{ url_for('static', filename=img) }}" alt="" class="facility__img">
  </figure>
  {% else %}
  <figure class="facility__item facility__item--{{ loop.index }}">
    <img src="{{ url_for('static', filename=img) }}" alt="" class="facility__img facility__img--transform">
  </figure>
  {% endif %} {% endfor %} -->