<section class="timetable" id="timetable">
  <article class="timetable__heading">
    <h1 class="timetable__title">看診時間</h1>
    <ul class="timetable__times">
      <li class="timetable__item timetable__item--1">
        <div class="timetable__radiobtn timetable__radiobtn--1 timetable__radiobtn--3"></div>
        <p class="timetable__item__text">汪明玉醫師看診</p>
      </li>
      <li class="timetable__item timetable__item--2">
        <div class="timetable__radiobtn timetable__radiobtn--2 timetable__radiobtn--3"></div>
        <p class="timetable__item__text">黃濤醫師看診</p>
      </li>
    </ul>
  </article>
  <div class="timetable__table">
    <div class="timetable__row timetable__row--heading">
      <div class="timetable__cell">時間/星期</div>
      <div class="timetable__cell">星期一</div>
      <div class="timetable__cell">星期二</div>
      <div class="timetable__cell">星期三</div>
      <div class="timetable__cell">星期四</div>
      <div class="timetable__cell">星期五</div>
      <div class="timetable__cell">星期六</div>
      <div class="timetable__cell">星期天</div>
    </div>
    <div class="timetable__row">
      <div class="timetable__cell timetable__cell--heading">早上8:30~12:00</div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div></div>
      </div>
    </div>
    <div class="timetable__row">
      <div class="timetable__cell timetable__cell--heading">下午3:00~6:00</div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div></div>
      </div>
    </div>
    <div class="timetable__row">
      <div class="timetable__cell timetable__cell--heading">晚上7:00~9:00</div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--2"></div>
      </div>
      <div class="timetable__cell">
        <div class="timetable__radiobtn timetable__radiobtn--1"></div>
      </div>
      <div class="timetable__cell">
        <div></div>
      </div>
      <div class="timetable__cell">
        <div></div>
      </div>
    </div>
  </div>

</section>