{% extends "base/base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  <main class="main">
    {% include "general/header.html" %}
    {% include "components/announcement.html" %}
    {% include "components/info.html" %}
    {% include "components/timetable.html" %}
    {% include "components/doctors.html" %}
    {% include "components/facility.html" %}
    {% include "general/footer.html" %}
  </main>
{% endblock %}

{% block myScript %}
  {% assets "js-main" %}
  <script type="text/javascript" src="{{ ASSET_URL }}" async></script>
  {% endassets %}
  <script type="text/javascript" async>
    const announcements = {{ announcements | tojson }};
    const ac_per_page = {{ ac_per_page }};

    const pagination = new Pagination(announcements, ac_per_page, false);
    pagination.renderInit();
    pagination.addPagination();
  </script>
{% endblock %}