{% extends "base/base.html" %}
{% block body %}
  <section class="login-main">
    {% include "components/announcement.html" %}
  </section>
{% endblock %}

{% block myScript %}
  {% assets "js-main" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" async></script>
  {% endassets %}
  {% assets "js-announcements" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" async></script>
  {% endassets %}
  <script type="text/javascript" async>
    const announcements = {{ announcements | tojson }};
    const ac_per_page = {{ ac_per_page }};

    const pagination = new Pagination(announcements, ac_per_page, true);
    pagination.renderInit();
    pagination.addPagination();
  </script>
{% endblock %}