{% macro error_block(errors) %}
  {% for error in errors %}
    <strong style="color: #a52a2a"> {{ error }} </strong>
  {% endfor %}
{% endmacro %}

{% extends "base/base.html" %}
{% block body %}
  <form method=post action="/login" class="login-form">
    <!-- For csrf attack -->
    {{ form.hidden_tag() }}
    <div class="login-form__main-block">
      {{ form.username.label(class="login-form__main-block__label") }}
      {{ form.username() }}
      {{ form.password.label(class="login-form__main-block__label") }}
      {{ form.password() }}
      {{ form.submit() }}
    </div>
  </form>
  <section class="login-form-errors">
    {% if form.username.errors %}
      {{ error_block(form.username.errors) }}
    {% endif %}

    {% if form.password.errors %}
      {{ error_block(form.password.errors) }}
    {% endif %}

    {% if error_msgs %}
      {{ error_block(error_msgs) }}
    {% endif %}
  </section>
{% endblock %}