.button {
  border: none;
  &--submit {

  }
  &--editor {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5rem;
    & div {
      border: 1px solid #888;
      border-radius: 50%;
      margin-bottom: .2rem;
      padding: .8rem;
      height: 4.5rem;
      width: 4.5rem;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}