.button {
  border: none;
  cursor: pointer;
  &--submit {
    border: 1px solid $color-green-dark;
    border-radius: 3px;
    padding: 1rem;
    background-color: white;
    color: $color-green-dark;
  }
  &--editor {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5rem;
    & div {
      border: 1px solid #888;
      border-radius: 50%;
      margin-bottom: .2rem;
      padding: .8rem;
      height: 4.5rem;
      width: 4.5rem;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &--arrow {
    color: $color-green-dark;
    background-color: white;
    font-size: 2.5rem;
  }

  &--disabled {
    color: #C80815;
    cursor: auto;
  }
}
