{% macro columnItem(title, author, date) %}
  <li class="columns__item">
    <span> {{ title }} </span>
    <span> {{ author }} </span>
    <span> {{ date }}  </span>
  </li>
{% endmacro %}

{% macro listing(category, targets, wrapper_classes=[]) %}
{% set classes = ['list-items-column-large'] %}
  <section class="{{ classes | concat_lists(wrapper_classes) | join(' ') }}">
    <ol class="list-items-column-large__ol">
      {% for target in targets %}
        {{ columnItem(target.title, target.author, target.date) }}
      {% endfor %}
    </ol>
    <div class="pagination columns__pagination">
      bitch
    </div>
  </section>
{% endmacro %}