.login-form {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  &__main-block {
    font-size: 2rem;
    height: 20rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;

    position: relative;
    &__label {
      padding: 1rem 0;
    }
    // Add margin-bottom
    & input {
      margin-bottom: 2rem;
    }
  }
}

.login-form-errors {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  font-size: 3.5rem;
  color: red;
}