@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

*,
*::after,
*::before{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    /* rem的reference  62.5% of browser default font size(16px)=10px */
    @include respond(break-alpha){
      font-size:45%;
    }
    @include respond(break-beta){
      font-size:40%;
    }
}

body {
  line-height: 3.5rem;
  font-weight: 100;
  font-family: $font-Chinese;
  // background-color:$color-base-background;
}

img{
  // for alt attr
  color:$color-green-dark;
}

