.header{
  background: {
    image: linear-gradient(rgba(0,0,0, .7),
                                    rgba(0,0,0,.7)),
                    url(#{$img-path}/front.jpg);   
    size: cover;  
    position: center;
    attachment: fixed;   
  }             
  grid: {
    row: 1/2;
    column: full-start/full-end;
    // min-content  符合圖片即可
    // 最大只能10rem, 但最小不可以小於內容
    // 要不然會overflow
    // template-rows: repeat(5, min-content);
    // always 70% of viewwidth
    // shrink with viewwidth
    template-columns: 80vw;
    row-gap: 2rem;
  }
  align-content: center;
  display: grid;
  padding:6rem;
  @include respond(break-alpha){
    grid-row-gap:1.5rem; 
  }
  &__HI{
    height: 7rem;
    width:7rem;
    border-radius: 50%;
    align-self: end;
    @include animation-move-down();
  }
  &__text{
    &--large {
      font-weight: 400;
      font-size: 4.5rem;
      color:$color-border;
      line-height: 5.5rem;
      align-self: flex-start; // let the container of text shrink
    }
    &--medium {
      color:#FFF;
      font-size: 2rem;
    }
    &--ani-down{
      @include animation-move-down();
    }
    &--ani-right{
      @include animation-move-right();
    }
    &--media-info {
      display: none;
      font-weight: 400;
      & a {
        color: currentColor;
      }
      & a:not(:last-child) {
        margin-right: 2rem;
      }
      // Only shows up if viewport < 850px
      @include respond(break-beta) {
        display: flex;
      }
    }

  }

  &__nav{
    @include animation-move-right();
    margin-top: .5rem;
    font-size: 2.3rem;
    display: grid;
    align-items: start;
    justify-items: start;
    grid-column-gap: .5rem;
    grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
  }

  &__link{
    color:$color-table-title;
    padding-bottom: .7rem;
    text-decoration: none; // remove the line under link
    border-bottom: 2px solid transparent;
    transition: all .5s;
   
  }

  &__link:hover{
    border-bottom: 2px solid $color-border;
  }
}