{% from 'macro/input-group.html' import input_group %}
{% from 'macro/buttons.html' import button_submit  %}
{% extends 'base/base.html' %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/axios/dist/axios.min.js" async></script>
{% endblock %}
{% block body %}
  <main class="editor">
    {{ input_group(['editor__input'], input_info) }}
    <div class="editor__icons">
      <figure class="button--editor">
          <div>
              <img src="{{ url_for('static', filename='img/icon/picture.png') }}">
          </div>
          <figcaption> 照片 </figcaption>
      </figure>
      <figure class="button--editor">
          <div>
            <img src="{{ url_for('static', filename='img/icon/bold.png') }}">
          </div>
          <figcaption> 粗體 </figcaption>
      </figure>
    </div>
    <article class="editor__main" contenteditable="true">
      寫點東西吧！
    </article>
    <div class="editor__button-group">
        {{ button_submit() }}
    </div>
  </main>
{% endblock %}