{% from 'macro/input-group.html' import input_group %}
{% from 'macro/buttons.html' import button_submit  %}
{% extends 'base/base.html' %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/axios/dist/axios.min.js" async></script>
{% endblock %}
{% block body %}
  <main class="editor">
    {{ input_group(['input-group', 'editor__input'], input_info) }}
    <article class="editor__main">
      bitch
    </article>
    <div class="editor__button-group">
        {{ button_submit() }}
    </div>
  </main>
{% endblock %}