{% from 'macro/input-group.html' import input_group %}
{% from 'macro/buttons.html' import button_submit  %}
{% extends 'base/base.html' %}
{% block head %}
  {{ super() }}
  <script src="https://unpkg.com/axios/dist/axios.min.js" async></script>
{% endblock %}
{% block body %}
  <main class="editor">
    {{ input_group(['editor__input'], input_info) }}
    <div class="editor__icons">
      <label class="button--editor" for="photoes">
          <div>
              <img src="{{ url_for('static', filename='img/icon/picture.png') }}">
          </div>
          <span> 圖片 </span>
      </label>
      <input name="photoes[]" type="file" id="photoes" class="remove-input" accept="image/*" >
      <figure class="button--editor" id="bold">
          <div>
            <img src="{{ url_for('static', filename='img/icon/bold.png') }}">
          </div>
          <figcaption> 粗體 </figcaption>
      </figure>
    </div>
    <article class="editor__main" contenteditable="true">
    </article>
    <div class="editor__button-group">
        {{ button_submit() }}
    </div>
  </main>
{% endblock %}
{% block myScript %}
  {% assets "js-editor" %}
  <script type="application/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "js-show-panel" %}
  <script type="application/javascript" src="{{ ASSET_URL }}" async></script>
  {% endassets %}
  <script type="application/javascript" async>
    const ip = '{{ request_ip }}';
    const editor_post_limit = {{ editor_post_limit }};
    addSubmitHandler(ip, editor_post_limit);
  </script>
{% endblock %}