{% from 'macro/responsive-image.html' import responsiveImage as image %}

<section class="doctors" id="doctors">
  <h1 class="doctors__heading">醫生團隊</h1>
  <div class="doctors__intro">
    <div class="doctors__doctor">
      {{ image("doctors__doctor__imgcontainer", "doctors__doctor__img", "汪明玉醫師", "doctor1") }}
      <h3 class="doctors__doctor__name">汪明玉醫師</h3>
      <div class="doctors__doctor__ex">
        <p>經歷：</p>
        <p>高雄醫學大學醫學系</p>
        <p>骨科專科醫師</p>
        <p>外科專科醫師</p>
      </div>

    </div>
    <div class="doctors__doctor">
      <div class="doctors__doctor__imgcontainer">
        {{ image("doctors__doctor__imgcontainer", "doctors__doctor__img", "黃濤醫師", "doctor2") }}
      </div>
      <h3 class="doctors__doctor__name">黃濤醫師</h3>
      <div class="doctors__doctor__ex">
        <p>經歷：</p>
        <p>高雄醫學大學醫學系</p>
        <p>骨科專科醫師</p>
      </div>

    </div>
  </div>
</section>