{% from "macro/responsive-image.html" import responsiveImage as image %}

<article class="facility__article" id="PT">
  <h3 class="facility__article__heading">復健中心</h3>
  <ul class="facility__article__list">
    {% for PTItem in PTList %}
    <li class="facility__article__item">{{ PTItem }}</li>
    {% endfor %}
  </ul>
  <h5 class="facility__article__heading">時間：</h5>
  <div class="facility__article__timegroup">
    <ul class="facility__article__time facility__article__time--red">
      <li>星期一至星期五</li>
      <li>早上 8:30~12:00</li>
      <li>下午 3:00~9:30</li>
      <li>晚餐時段不休息</>
    </ul>
    <ul class="facility__article__time">
      <li>星期六</li>
      <li>早上 8:30~12:00</li>
    </ul>
  </div>
</article>

<div class="facility__gallary">
  {% for img, alt in imglist %}
    {{ image("facility__item facility__item--" + loop.index|string, "facility__img", alt, img) }}
  {% endfor %}
</div>
