<ul class="info__infos" id="info">
  <li class="info__items">
    <figure class="info__pics info__pics--location"></figure>
    <!-- <figcation class="info__caption">地址</figcation> -->
    <p class="info__detail">臺南市佳里區延平路47號</p>
  </li>
  <li class="info__items">
    <figure class="info__pics info__pics--tel"></figure>
    <!-- <figcation class="info__caption">電話</figcation> -->
    <p class="info__detail">(06)723-3305</p>
  </li>
  <li class="info__items">
    <figure class="info__pics info__pics--fb"></figure>
    <!-- <figcation class="info__caption">臉書</figcation> -->
    <a href="https://www.facebook.com/wangorthopedics/" class="info__detail info__detail--fb">汪骨外科診所</a>
  </li>
</ul> 
<figure class="info__map">
  <img src="{{ url_for('static', filename='img/map.png') }}" alt="google map 截圖" class="info__mapimg">
</figure>