.announcements-form {
  grid-row: 2/3;
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 3rem;
}

.announcements-form > * {
  margin-bottom: 2rem;
}

.announcements-form__content {
  align-self: stretch;
  height: 30%;
}

