.announcement {
  grid-column: full-start/full-end;
  font-size: 3.5rem;
  padding: 8rem;

  display: grid;
  grid-row-gap: 7rem;
  // justify-items: center;
  &_header {
    justify-self: center;
  }

  &__list {
    display: grid;
    grid-row-gap: 5rem;

    &__item {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 1px solid red;
      border-radius: 2rem;
      line-height: 150%; // according to current font-size

      position: relative; // For close btn in login-main.html
      &__date {
        font-size: 1.8rem;
      }

      // Only used in login-main.html
      &__close {
        position: absolute;
        top: 7%;
        right: 1%;
        cursor: pointer;
      }
    }
  }

  &__pagination {
    justify-self: center;
    display: flex;
    &__item {
      cursor: pointer;
      padding: .5rem 1rem;
      font-size: 2.5rem;
      border: 1px solid red;
      border-radius: .3rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}