<header class="header">
  <img
    src="{{ url_for('static', filename='img/icon/HI.png') }}"
    alt="The external view of our clinic"
    class="header__HI"
  >
  <p class="header__text--ani-down">歡迎光臨</p>
  <p class="header__text--ani-down">汪骨外科診所</p>
  <p class="header__text--ani-right">本院至民國八十六年開業至今，致力於提供專業的骨科及外科服務，累積病患至今已十三萬人。</p>
  <div class="header__text--ani-right header__text--media-info">
    <p> 電話: 06-2523355  </p>
    <p> 地址: 臺南市佳里區延平路47號 </p>
  </div>
  <nav class="header__nav">
    <!-- . is for blueprint -->
    <a href="{{ url_for('.home',_anchor='info') }}" class="header__link header__link--info">我們在哪裡</a>
    <a href="{{ url_for('.home',_anchor='timetable') }}" class="header__link header__link--time">看診時間</a>
    <a href="{{ url_for('.home',_anchor='doctors') }}" class="header__link header__link--doctor">醫生團隊</a>
    <a href='{{ url_for(".target") }}' class="header__link header__link--target">主治項目</a>
    <a href="{{ url_for('.home',_anchor='PT') }}" class="header__link header__link--PT">復健中心</a>
    <a href="{{ url_for('.boneMassMeasurement') }}" class="header__link header__link--bone">骨質密度檢測</a>
  </nav>
</header>
