<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  {% block head %}
    <title>汪骨外科診所</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# For google verification #}
    <meta name="google-site-verification" content="MX8rjSleFL_vmhg84c4Jn4605uoDRPmXqmP_BsfPD90" />
    <meta name="description" content= {{ metacontent }} >
    <link href="{{ url_for('static', filename='img/icon/favicon.ico')}}" rel="icon" type="image/x-icon" />
    {% assets "css-all" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block myScript %}{% endblock %}
</body>
</html>