{% extends "base/base.jinja2" %}
{% block body %}
  <main class="main">
    {% include "general/header.jinja2" %}
    {% include "components/bone.jinja2" %}
    {% include "general/footer.jinja2" %}
  </main>
{% endblock %}