{% extends "base/base.jinja2" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  <main class="main">
    {% include "general/header.jinja2" %}
    {% include "components/announcement.jinja2" %}
    {% include "components/info.jinja2" %}
    {% include "components/timetable.jinja2" %}
    {% include "components/doctors.jinja2" %}
    {% include "components/facility.jinja2" %}
    {% include "general/footer.jinja2" %}
  </main>
{% endblock %}

{% block myScript %}
  {% assets "js-main" %}
  <script type="application/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "js-lazy-loading" %}
  <script type="application/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="application/javascript" async>
    const announcements = {{ announcements | tojson }};
    const ac_per_page = {{ ac_per_page }};

    const pagination = new Pagination(announcements, ac_per_page, false);
    pagination.renderInit();
    pagination.addPagination();

    window.addEventListener('DOMContentLoaded', () => {
      const lazy = new LazyLoading();
      lazy.createObserver();
    });
  </script>
{% endblock %}